
body {
  background-color: black;
}
.sec {
    margin: 0 auto;
    line-height: 1;
    background-color: grey;
    border: 2px solid black;
    border-radius: 28px;
    width: calc(30vh + 48vh + 10vh);
    height: 50vh;
    padding: 7vh;
}

canvas{
  height: 6vh;
  width: 6vh;
}

.stats {
  border: 2px solid black;
  border-radius: 28px;
  background-color: rgb(209, 209, 209);
  text-align: center;
  width: 30vh;
  height: 49vh;
  float: left;
  margin-left: 7vh;
  position: relative;
}

#board-table {
  float: left;
  height: 48vh;
  width: 48vh;
}

td{
  margin: 0;
  border: 1px solid black;
  padding: 0;
}

.bottom {
  position: relative;
  margin-top: 17vh;
}

#elapsedtime::before {
  content: "⏳"
}

#player_color::before {
  content: "🎡"
}

#player1_pieces::before {
  content: "⚪"
}

#player2_pieces::before {
  content: "⚫"
}

#turn::before {
  content: "↪️"
}

#players::before {
  content: "🧔"
}

#players::after {
  content: "🙍"
}