.middle {
    background-color: grey;
    float: left;
    margin:auto;
    width: 36%;
    text-align: center;
    color: white;
}

.left {
    background-color: white;
    width: 31%;
    text-align: center;
    float:left;
    color:grey;
    margin: auto;
}


.right {
    background-color: white;
    margin: auto;
    width: 31%;
    text-align: center;
    float: right;
    color:grey;
}

body {
    background-color: grey;
}