.buttons {
  background-color: transparent;
  border: 1px solid black;
  border-radius:28px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  width: 150px;
  height: 35px;
  margin-bottom: 12px;
  display: block;
}

.buttons:hover {
  background-color: black;
  color: rgb(209, 209, 209);
}

body {
  background-color: rgb(158, 158, 158);
}