.buttons {
  background-color: transparent;
  border: 1px solid black;
  border-radius:28px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
}

.buttons:hover {
  background-color: black;
  color: rgb(158, 158, 158);
}

body {
  background-color: rgb(158, 158, 158);
}